<div class="chat-container">
  <!-- Lista de destinatarios -->
  <div *ngFor="let recipient of recipients" class="recipient" (click)="loadMessagesForRecipient(recipient.data.id)">
      <div class="recipient-name">{{ recipient.data.name }}</div>
  </div>

  <!-- Lista de mensajes -->
  <ng-container *ngIf="showMessages">
      <div *ngFor="let message of messages">
          <div class="sender">{{ message.senderName }}</div>
          <div class="content">{{ message.content }}</div>
      </div>

      <!-- Formulario para enviar un nuevo mensaje -->
      <form (submit)="sendMessage($event)">
          <input type="text" #messageInput placeholder="Escribe un mensaje...">
          <button type="submit">Enviar</button>
      </form>
  </ng-container>

</div>
