<div *ngFor="let favouriteList of favouriteLists.data">
  <ng-container *ngIf="favouriteList.user_id === currentUserID"> 
    <p style="font-size: 20px; color:red">{{ favouriteList.name }}
      <button (click)="openEditModal(favouriteList)">Editar</button>
      <button (click)="deleteList(favouriteList)">Borrar</button>
    </p>
    <ul>
      <li *ngFor="let advertisementList of advertisementFavouriteLists.data">
        <ng-container *ngIf="advertisementList.favouriteList_id === favouriteList.id">
          <span>{{ getAdvertisementTitle(advertisementList.advertisement_id) }}</span>
        </ng-container>
      </li>
    </ul>
  </ng-container>
</div>

<!-- Modal -->
<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeEditModal()">&times;</span>
    <h2>Editar Lista de Favoritos</h2>
    <input type="text" [(ngModel)]="editedListName" placeholder="Nuevo nombre de lista">
    <button (click)="saveEditedList()">Guardar</button>
  </div>
</div>


