/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

/* Títulos */
h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

/* Contenedor principal */
.max-w-lg {
  max-width: 800px;
}

.p-4 {
  padding: 2rem;
}

/* Detalles y resumen */
details {
  border: 1px solid;
  border-radius: 8px;
  overflow: hidden;
}

summary {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}

details[open] summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

details[open] summary~* {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Botones de acción */
button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

button .fas {
  font-size: 1.25rem;
}

/* Listas de anuncios */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li .font-semibold {
  font-size: 1.125rem;
}

li img {
  margin-left: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Modal */
.fixed {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 2rem auto;
}

.modal-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.modal-content input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid;
  border-radius: 4px;
  font-size: 1rem;
}

.modal-content button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
}

.modal-content button.bg-blue-600 {
  border: none;
}


.modal-content button.bg-white {
  border: 1px solid;
}

