<div class="antialiased text-gray-900">
    <div class="flex flex-wrap -mx-4">
        <div *ngFor="let user of users.data" class="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/3 px-4 mb-8">
            <div *ngFor="let teacher of teachers.data" class="bg-white rounded-lg overflow-hidden shadow-2xl">
                <img class="h-48 w-full object-cover object-end"
                    src="{{user.img}}"
                    alt="User Image" />
                <div class="p-6">
                    <div class="flex items-baseline">
                        <span
                            class="inline-block bg-teal-200 text-teal-800 py-1 px-4 text-xs rounded-full uppercase font-semibold tracking-wide">{{teacher.languages}}</span>
                        <div class="ml-2 text-gray-600 text-xs uppercase font-semibold tracking-wide">
                            {{user.area}}
                        </div>
                    </div>
                    <h4 class="mt-2 font-semibold text-lg leading-tight truncate">{{user.name}}</h4>

                    <div class="mt-1">
                        <span>{{teacher.price_hour}}€/h</span>
                    </div>
                    <div class="mt-2 flex items-center">
                        <span class="text-teal-600 font-semibold">
                            <span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <span class="ml-2 text-gray-600 text-sm">34 reviews</span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
