<!-- unirse-profesor.component.html -->

<div class="max-w-4xl mx-auto px-4 py-8 text-white">
  <header class="text-center">
    <h1 class="text-3xl font-bold">Únete a Nosotros como Profesor</h1>
  </header>
  <main>
    <section class="my-8">
      <h2 class="text-2xl font-bold">¡Sé parte de nuestra comunidad educativa!</h2>
      <p>En CodeMasterMentors, estamos buscando profesionales apasionados y cualificados que deseen compartir
        sus conocimientos con nuestros estudiantes. Como profesor en nuestra plataforma, tendrás la oportunidad de:</p>
      <ul class="list-disc pl-4 mt-4">
        <li>Crear y publicar tus propios cursos en línea.</li>
        <li>Llegar a una audiencia global de estudiantes ávidos de aprender.</li>
        <li>Ganar dinero compartiendo tu experiencia y conocimientos.</li>
      </ul>
    </section>
    <section class="my-8">
      <h2 class="text-2xl font-bold">Beneficios de Ser Profesor</h2>
      <p>Al unirte como profesor en CodeMasterMentors, recibirás acceso a una variedad de recursos y
        herramientas diseñadas para ayudarte a tener éxito en tu carrera como educador en línea:</p>
      <ul class="list-disc pl-4 mt-4">
        <li>Plataforma intuitiva y fácil de usar para crear y gestionar tus cursos.</li>
        <li>Soporte técnico y atención al cliente dedicados.</li>
        <li>Recursos de marketing para promocionar tus cursos y aumentar tu visibilidad.</li>
      </ul>
    </section>
    <section class="my-8">
      <h2 class="text-2xl font-bold">Oferta Especial para Profesores</h2>
      <p>Para acceder a todas estas ventajas y convertirte en profesor en nuestra plataforma, requerimos una membresía
        mensual de 10 euros. Esta membresía te dará acceso completo a todas las funciones de la plataforma y te
        permitirá comenzar a publicar tus cursos de inmediato.</p>
      <p>¡No pierdas la oportunidad de unirte a nuestra comunidad de profesores y comenzar a compartir tu conocimiento
        con el mundo!</p>
    </section>
  </main>

</div>
