<div class="bg-white border border-gray-200 rounded-lg shadow-md p-6 grid grid-cols-1 md:grid-cols-2 gap-4">
    <div *ngFor="let advertisement of advertisements.data">
      <h2 class="text-2xl font-bold text-gray-900 mb-4">{{ advertisement.title }}</h2>
      
      <ng-container *ngFor="let user of users.data">
        <ng-container *ngIf="user.id === advertisement.user_id">
          <img *ngIf="user.img" class="text-gray-700 mb-2" [src]="user.img" alt="User Image" />
        </ng-container>
      </ng-container>
      
      <ng-container *ngFor="let programmingLanguage of programmingLanguages.data">
        <ng-container *ngIf="programmingLanguage.id === advertisement.programmingLanguage_id">
          <p class="text-gray-700 mb-2">Lenguaje de Programación: {{ programmingLanguage.languageName }}</p>
        </ng-container>
      </ng-container>
  
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Modificar</button>
    </div>
    
    <!-- Botón para crear un nuevo anuncio -->
    
    <a [routerLink]="['/crear-anuncio']" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Crear Nuevo Anuncio</a>
</div>
  